// =============================================================================
// Reset css
// =============================================================================
* {
  -webkit-tap-highlight-color: transparent; /* remove blue click on mobile */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  font-size: inherit;
  font-weight: inherit;
border: 0;
padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  color: inherit;
  border: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
}