// =============================================================================
// Colors
// =============================================================================
$color-white: #fff;
$color-black: #000;
$color-blue: #232d74;
$color-green: rgb(0, 105, 84);