.p-dropdown {
    @include dimensions ( 250px, 35px );
    line-height: 35px;
    border: 1px solid $color-white;
    @include rounded-corner( 5px );
    padding: 0 8px;
    color: $color-white;
}

.p-dropdown-panel {
    margin-top: 10px;
}

@include responsive( 'max-width', 767px ) {
    .p-dropdown {
        width: 185px;
    }
}
@include responsive( 'max-width', 450px ) {
    .p-dropdown {
        width: 100%;
    }
}